:root {
  --ff-headings: 'Playfair Display', serif;
  --ff-normal: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

li {
  list-style-type: none;
}

body {
  background: url("./assets/icons/image_geometry_1.svg") no-repeat left top;
  font-family: var(--ff-normal);
  color: #1a2236;
}

h1 {
  font-family: var(--ff-headings);
  width: 220px;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

.header,
.hero-section {
  display: flex;
}

.hero-section {
  padding-top: 100px;
  flex-direction: column;
}

.section {
  padding-top: 60px;
}

.header,
.container {
  padding-inline: 16px;
}

.header {
  justify-content: flex-end;
}

.decoration {
  max-width: 100%;
  margin-top: 42px;
}

.container {
  padding-inline: 16px;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 40px;
}

.cta-btn {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
}

.hamburger {
  background: none;
  border: none;
  margin-top: 19px;
}

.cta-btn:hover,
.hamburger:hover {
  cursor: pointer;
}

.cta-btn:hover {
  background: none;
  color: #1a2236;
}

.primary-heading {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 20px;
}

.project-img {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
}

.container-information {
  background-color: #1a2236;
}

.heading {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.feature {
  text-align: center;
  width: 100px;
  height: 25px;
  background: #98dede;
}

.c-projects {
  width: 178px;
  height: 44px;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-blue {
  background-color: #1c528a;
  background-image: url("./assets/im3/hash.png");
}

.bg-red {
  background-color: #e2505c;
  background-image: url("./assets/im3/rectengle.png");
}

.bg-yellow {
  background-color: #febe52;
  background-image: url("./assets/im3/lamp.png");
}

.skill-container {
  color: #fff;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.get-cv-btn {
  margin-top: 32px;
  margin-bottom: 40px;
}

.get-cv-btn img {
  margin-left: 10px;
}

.skill-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.skill-item {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.c-projects:hover {
  cursor: pointer;
}

.container-footer {
  background: url("./assets/icons/image_geometry_1.svg") no-repeat left top;
}

.top-footer {
  margin-top: 50px;
  padding-top: 50px;
}

.footer-heading {
  font-family: var(--ff-headings);
  color: #1a2236;
  font-weight: 400;
  font-size: 50px;
  margin-top: 106px;
  margin-left: 18px;
}

.last-text {
  font-size: 14px;
  font-family: var(--ff-normal);
  font-weight: 400;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
}

.input-item {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 64px;
  position: relative;
  transition: border 200ms ease-in;
}

.input2 {
  width: 100%;
  position: absolute;
  background: #fff;
  border: 2px solid #1a2236;
  border-radius: 4px;
  height: 52px;
  color: #1a2236;
  padding-left: 1em;
  padding-top: 0.5em;
}

.label1 {
  padding: 4px 0 0 16px;
  z-index: 1;
  color: #dfdfe0;
  font-size: 12px;
}

.textarea1 {
  width: 100%;
  position: absolute;
  background: #fff;
  border-radius: 4px solid #1a2236;
  color: #1a2236;
  height: 112px;
  margin-bottom: 20px;
  font-size: 16px;
  padding-left: 1em;
  padding-top: 1em;
}

::placeholder {
  padding: 2px 0 0 16px;
}

.cta-btn-last {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
  margin-top: 62px;
}

.cta-btn-last:hover {
  background: none;
  color: #1a2236;
}

.bottom-footer {
  background-color: #1a2236;
}

.get-resume {
  font-weight: 500;
  font-size: 16px;
  font-family: var(--ff-normal);
  color: #92dcdc;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
}

.union {
  margin-top: 32px;
  margin-left: 16px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: none;
  }

   /* Hero-section  */
  .header {
    justify-content: center;
    border-bottom: 1px solid #dddfe6;
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .nav-list {
    display: block;
    display: flex;
    gap: 20px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    font-family: var(--ff-normal);
    text-decoration: none;
  }
  
  .hero-section {
    padding-top: 0;
    padding-inline-start: 90px;
  }

  .hamburger {
    display: none;
  }

  .decoration {
    display: none;
  }

  .decoration-desktop {
    display: inline;
    margin-right: 0;
    width: 672px;
    
  }

  .hero-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
  }

  .bg-image {
    background: url(./assets/desktop/image_dots.png) no-repeat;
    background-position: right bottom;
  }

  .primary-heading {
    font-size: 50px;
    line-height: 100%;
    padding-right: 5px;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    width: 500px;
    height: 84px;
    margin-top: 10px;
  }

  .cta-btn {
    width: 254px;
    height: 60px;
    margin-bottom: 120px;
  }

   /* Project-section  */
  .rotate-one {
    transform-origin: right top;
    transform: rotate(-90deg);
    position: absolute;
    right: 90%;
    margin-top: 0;
  }

  .section {
    padding-top: 0;
    margin-bottom: 110px;
  }

  .container {
    padding-inline: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr;
    position: relative;
  }

  .project-img {
    display: flex;
    width: 100%;
  }

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  .bi-project1 {
    background-image: url(./assets/desktop/image-geometry_2.png);
    background-position: 10px 20px;
    background-repeat: no-repeat;
    background-size: 90%;
    grid-column: span 2;
    z-index: 0;
    animation-duration: 2s;
    animation-name: bi-project1;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
  }

  @keyframes bi-project1 {
    from {
      margin-left: 80%;
      width: 100%;
    }

    to {
      margin-left: 0;
      width: 90%;
    }
  }

  .rose-laptop {
    grid-area: center;
    position: absolute;
    left: 960px;
    z-index: -1;
  }

  .z-index {
    top: 80px;
    position: absolute;
    left: 840px;
    width: 450px;
    z-index: 1;
    grid-column: 2/-4;
    grid-area: right;
    margin-left: -30px;
  }

  .bi-yellow {
    position: absolute;
    top: 1260px;
    left: 485px;
    z-index: -1;
    width: 350px;
  }

  .hide {
    visibility: hidden;
  }

  .pic-2 {
    z-index: 0;
  }

  .pic-3 {
    z-index: 1;
    width: 400px;
    height: 300px;
  }

  .bi-project2 {
    background-image: url(./assets/desktop/Shape.png);
    background-position: 5px 145px;
    background-repeat: no-repeat;
    background-size: 30%;
  }

  .bi-project3 {
    background-image: url(./assets/desktop/Group83.png);
    background-position: 143px 132px;
    background-repeat: no-repeat;
    background-size: 60%;
  }
   /* About-section  */
  .container-item {
    display: flex;
    flex-direction: row-reverse;
    padding-inline-start: 110px;
    padding-inline-end: 80px;
    margin-top: 110px;
    margin-bottom: 100px;
    column-gap: 80px;
  }

  .primary-heading {
    font-size: 90px;
  
  }

  .skill-heading {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
  }
  
  .skills-lists {
    display: grid;
    grid-template-columns: 289px 289px;
    grid-template-rows: 289px 289px;
  }

  .bi-project6 {
    background-image: url(./assets/desktop/image_dots.png), url(./assets/desktop/Shapeblue.png);
    background-position: 10px 95px, 175px 0px;
    background-repeat: no-repeat;
    background-size: 60%, 40%;
  }
   /* Footer  */
  .container-footer {
    background: url(./assets/desktop/image-geometry_6.png), url(./assets/desktop/image-geometry_7.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 910px 450px;
  }

  .bg-footer {
    background-color: #f9f9fa;
    padding-inline-start: 300px;
    padding-inline-end: 350px;
  }

  .footer-heading {
    margin-top: 0;
  }

  .last-form {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    /* align-items: center; */
    padding-left: 20px;
  }

  .last-grid1 {
    padding-right: 30px;
    width: 285px;
  }
  .last-grid0 {
    padding-left: 50px;
    width: 285px;
    margin-left: 10px;
  }

  .last-grid2 {
    position: relative;

    grid-column: span 3;
  }
  .textarea2 {
    position: absolute;
  }

  .input-item {
    position: static;
  }

  .input2 {
    position: relative;
  } 

  .textarea1 {
    position: relative;
  }

  .label1 {
    padding-bottom: 10px;
  }

  .size-middle {
    position: relative;
  }

  .cta-btn-last {
    /* justify-content: center; */
    align-self: center;
    position: absolute;
    bottom: 35px;
    left: 120px;
  }
  
  .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .get-resume {
    padding-bottom: 50px;
  }

  .logos {
    gap: 20px;
    padding-bottom: 50px;
    animation-duration: 2s;
    animation-name: logos;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

  @keyframes logos {
    from {
      margin-left: 80%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 90%;
    }
  }
}

