:root {
  --ff-headings: 'Playfair Display', serif;
  --ff-normal: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

li {
  list-style-type: none;
}

body {
  font-family: var(--ff-normal);
  color: #1a2236;
}

h1 {
  font-family: var(--ff-headings);
  width: 220px;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

.desktop {
  display: none;
}

.header,
.hero-section {
  display: flex;
}

.header {
  background: url("./assets/icons/image_geometry_1.svg") no-repeat left top;
  height: 100px;
}

.hero-section {
  flex-direction: column;
}

.section {
  padding-top: 60px;
}

.header,
.container {
  padding-inline: 16px;
}

.header {
  justify-content: flex-end;
}

.decoration {
  max-width: 100%;
  margin-top: 42px;
}

.container {
  padding-inline: 16px;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 40px;
}

.cta-btn {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
}

.hamburger {
  background: none;
  border: none;
  margin-top: 19px;
}

.cta-btn:hover,
.hamburger:hover {
  cursor: pointer;
}

.cta-btn:hover {
  background: none;
  color: #1a2236;
}

.primary-heading {
  font-size: 50px;
  font-weight: 400;
}

.project-img {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
}

.container-information {
  background-color: #1a2236;
  padding: 1em;
}

.heading {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.feature {
  text-align: center;
  background: #98dede;
  font-size: 12px;
}

.c-projects {
  width: 178px;
  height: 44px;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-blue {
  background-color: #1c528a;
  background-image: url("./assets/im3/hash.png");
}

.bg-red {
  background-color: #e2505c;
  background-image: url("./assets/im3/rectengle.png");
}

.bg-yellow {
  background-color: #febe52;
  background-image: url("./assets/im3/lamp.png");
}

.skill-container {
  color: #fff;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.get-cv-btn {
  margin-top: 32px;
  margin-bottom: 40px;
}

.get-cv-btn img {
  margin-left: 10px;
}

.skill-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.skill-item {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.c-projects:hover {
  cursor: pointer;
}

.container-footer {
  background: url("./assets/icons/image_geometry_1.svg") no-repeat left top;
}

.top-footer {
  margin-top: 50px;
  padding-top: 50px;
}

.footer-heading {
  font-family: var(--ff-headings);
  color: #1a2236;
  font-weight: 400;
  font-size: 50px;
  margin-top: 106px;
  margin-left: 18px;
}

.last-text {
  font-size: 14px;
  font-family: var(--ff-normal);
  font-weight: 400;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
}

.input-item {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 64px;
  position: relative;
  transition: border 200ms ease-in;
}

.input2 {
  width: 100%;
  position: absolute;
  background: #fff;
  border: 2px solid #1a2236;
  border-radius: 4px;
  height: 52px;
  color: #1a2236;
  padding-left: 1em;
  padding-top: 0.5em;
}

.label1 {
  padding: 4px 0 0 16px;
  color: #dfdfe0;
  font-size: 12px;
}

.textarea1 {
  width: 100%;
  position: absolute;
  background: #fff;
  border-radius: 4px solid #1a2236;
  color: #1a2236;
  height: 112px;
  margin-bottom: 20px;
  font-size: 16px;
  padding-left: 1em;
  padding-top: 1em;
}

::placeholder {
  padding: 2px 0 0 16px;
}

.cta-btn-last {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
  margin-top: 62px;
}

.cta-btn-last:hover {
  background: none;
  color: #1a2236;
}

.bottom-footer {
  background-color: #1a2236;
}

.get-resume {
  font-weight: 500;
  font-size: 16px;
  font-family: var(--ff-normal);
  color: #92dcdc;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
}

.union {
  margin-top: 32px;
  margin-left: 16px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    background-image: none;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Hero-section */
  .header {
    background: none;
    justify-content: center;
    border-bottom: 1px solid #dddfe6;
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .nav-list {
    display: block;
    display: flex;
    gap: 20px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    font-family: var(--ff-normal);
    text-decoration: none;
  }

  .hero-section {
    padding-top: 0;
    padding-inline-start: 90px;
  }

  .hamburger {
    display: none;
  }

  .decoration {
    display: none;
  }

  .decoration-desktop {
    display: inline;
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    flex: 1;
  }

  .hero-section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
  }

  .hero-section1 .container {
    flex: 1;
    padding-top: 250px;
  }

  .bg-image {
    background: url(./assets/desktop/image_dots.png) no-repeat;
    background-position: right bottom;
    align-items: center;
    justify-content: center;
  }

  .paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    width: 500px;
    height: 84px;
    margin-top: 10px;
  }

  .cta-btn {
    width: 254px;
    height: 60px;
    margin-bottom: 120px;
  }

  /* Project-section */
  .project-header {
    position: relative;
    background: url(./assets/desktop/image_dots.png) no-repeat top right;
  }

  .rotate-one {
    transform-origin: right top;
    transform: rotate(-90deg);
    position: absolute;
    right: 90%;
  }

  .section {
    padding-top: 0;
    margin-bottom: 110px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
  }

  .heading-desktop {
    font-size: 50px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0;
    text-align: left;
  }

  .feature-desktop {
    width: 144px;
    height: 40px;
    font-size: 20px;
  }

  .project-item {
    position: relative;
  }

  .container-information {
    position: absolute;
    width: 100%;
  }

  .project-img {
    width: 100%;
  }

  .pose-a {
    position: absolute;
  }

  .top {
    top: 20%;
  }

  .bottom {
    bottom: 0;
  }

  .top-20 {
    top: -30%;
  }

  .bg-square {
    background: url(./assets/desktop/Group83.png) no-repeat right 60%;
    background-size: 85%;
  }

  .w-70 {
    width: 70%;
  }

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  .hide {
    display: none;
  }

  /* About-section */
  .container-item {
    display: flex;
    flex-direction: row-reverse;
    padding-inline-start: 110px;
    padding-inline-end: 80px;
    margin-top: 110px;
    margin-bottom: 100px;
    column-gap: 80px;
  }

  .about1 {
    font-size: 90px;
  }

  .skill-heading {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
  }

  .skills-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 2;
  }

  .about-content {
    flex: 1;
  }

  .bi-project6 {
    background-image: url(./assets/desktop/image_dots.png), url(./assets/desktop/Shapeblue.png);
    background-position: 5px 200px, 175px 0;
    background-repeat: no-repeat;
    background-size: 60%, 40%;
  }

  /* Footer  */
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: none;
  }

  .bg-footer {
    background-color: #f9f9fa;
  }

  .right {
    position: relative;
  }

  .right img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-heading {
    margin-top: 0;
  }

  .user-info {
    display: flex;
    width: 100%;
    position: relative;
  }

  .last-grid1 {
    width: 285px;
  }

  .last-grid0 {
    padding-left: 0;
    width: 285px;
    top: -75px;
    left: 53%;
    margin-left: 10px;
    grid-column-start: 2;
  }

  .last-grid2 {
    position: relative;
    grid-column: span 3;
  }

  .textarea2 {
    position: absolute;
    top: -50px;
  }

  .input-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .input2 {
    position: relative;
    padding-top: 0;
    margin-left: auto;
  }

  .textarea1 {
    position: relative;
  }

  .size-middle {
    grid-column: span 3;
  }

  .cta-btn-last {
    margin-top: 0;
    width: 250px;
    margin-inline: auto;
    margin-bottom: 60px;
  }

  .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }

  .get-resume {
    padding-bottom: 50px;
  }

  .logos {
    gap: 20px;
    padding-bottom: 50px;
    animation-duration: 2s;
    animation-name: logos;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }

  @keyframes logos {
    from {
      margin-left: 80%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 90%;
    }
  }
  .desktop {
    display: block;
  }
}

/* DOM */
.mobile-option {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/dom/header.png") no-repeat bottom white;
  background-size: contain;
}

.head-dom {
  position: relative;
}

.exit {
 position: absolute;
 right: 7%;
 top: 20%;
 border: none;
 background-color: white;
 font-size: 20px;
 cursor: pointer;
}

.mob-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  row-gap: 20px;
  padding-top: 10%;
  margin-bottom: 15%;
}

/* .mobile-app {
  display: none;
} */

.nav-link {
  font-weight: 400;
  font-size: 20px;
  font-family: var(--ff-normal);
  text-decoration: none;
  color: #000;
  align-self: center;
  gap: 50px;
}

.dom-bg {
  position: absolute;
  bottom: 90%;
  left: 75%;
}
.dom-bg-1 {
  top: 300px;
  right: 80%;
  position: absolute;
}
