/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

li {
  list-style-type: none;
}

body {
  background: url("./assets/icons/image_geometry_1.svg") no-repeat left top;
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

h1 {
  font-family: 'Playfair Display', serif;
  width: 220px;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

.header,
.hero-section {
  display: flex;
}

.hero-section {
  padding-top: 100px;
  flex-direction: row;
}

.section {
  padding-top: 60px;
}

.header,
.container {
  padding-inline: 16px;
}

.header {
  justify-content: flex-end;
}

.decoration {
  max-width: 100%;
  margin-top: 42px;
}

.container {
  padding-inline: 16px;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 40px;
}

.cta-btn {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
}

.hamburger {
  background: none;
  border: none;
  margin-top: 19px;
}

.cta-btn:hover,
.hamburger:hover {
  cursor: pointer;
}

.cta-btn:hover {
  background: none;
  color: #1a2236;
}

.primary-heading {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 20px;
}

.project-img {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.container-information {
  padding-bottom: 20px;
}

.heading {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.feature {
  text-align: center;
  width: 100px;
  height: 25px;
  background: #98dede;
}

.c-projects {
  width: 178px;
  height: 44px;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills-lists {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.bg-blue {
  background-color: #1c528a;
  background-image: url("./assets/im3/hash.png");
}

.bg-red {
  background-color: #e2505c;
  background-image: url("./assets/im3/rectengle.png");
}

.bg-yellow {
  background-color: #febe52;
  background-image: url("./assets/im3/lamp.png");
}

.skill-container {
  color: #fff;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.get-cv-btn {
  margin-top: 32px;
  margin-bottom: 40px;
}

.get-cv-btn img {
  margin-left: 10px;
}

.skill-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.skill-item {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.c-projects:hover {
  cursor: pointer;
}

footer {
  background: url("./assets/icons/image_geometry_1.svg") no-repeat left top;
}

.top-footer {
  margin-top: 50px;
  padding-top: 50px;
}

.footer-heading {
  font-family: "Playfair Display";
  color: #1a2236;
  font-weight: 400;
  font-size: 50px;
  margin-top: 106px;
}

.last-text {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 64px;
  position: relative;
}

.input2 {
  width: 100%;
  position: absolute;
  background: #fff;
  border: 1px solid #1a2236;
  border-radius: 4px;
  height: 52px;
  color: #dfdfe0;
}

/* <<<<<<< HEAD
.label1 {
======= */
#label1 {
  padding: 4px 0 0 16px;
  z-index: 1;
  color: #dfdfe0;
  font-size: 10px;
}

#textarea1 {
  width: 100%;
  position: absolute;
  background: #fff;
  border-radius: 1px solid #1a2236;
  color: #dfdfe0;
  height: 112px;
  margin-bottom: 20px;
  font-size: 16px;
}

.cta-btn-last {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #1a2236;
  padding-block: 12px;
  width: 100%;
  border: 1px solid #1a2236;
  margin-top: 62px;
}

.bottom-footer {
  background-color: #1a2236;
}

.get-resume {
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins";
  color: #92dcdc;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
}

.union {
  margin-top: 32px;
  margin-left: 16px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
